{{extend 'flatLayout.html'}}
{{print "in view"+name}}
<script>
      jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>
<style>
	/*Style common for all pages navbar design*/

    .navbar-inner{
        background:rgba(255, 255, 255, 1);    
    }
	.navbar .nav > li > a {
        <!color: #FFFFFF;-->
    }    
    .navbar{
        border-bottom: 4px solid rgba(46, 204, 113, 1);
    }
	/*End of Style common for all pages */
	
	.circle {
		  display: inline-block;
		  width: 150px;
		  height: 150px;
		  margin: 1em auto;
		  background-size: cover;
		  background-repeat: no-repeat;
		  background-position: center center;
		  -webkit-border-radius: 99em;
		  -moz-border-radius: 99em;
		  border-radius: 99em;
		  border: 5px solid #eee;
		  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	      position:relative;
	      z-index:10;
       
	}
    
    .circle::after{
        position:absolute;
        left:200px;
        top:70px;
        font-size:large;
        font-weight:bold;
        content:"{{=(name)}}";
    }
   
    #content{
    	
        position:relative;
        left:110px;
        top:-40px;
        /*h-shadow v-shadow blur spread color*/
	    box-shadow: 1px 0px 2px 2px #888888;
        height:500px;
	    overflow:scroll;
        border-radius:5px;
        z-index:9;
        padding: 10px;

    }
    
    .post{
        position: relative;
        padding-top:20px;
        padding-left:20px;
    }

</style>
    
    <div class="circle" style="background-image:url({{=Gravatar(auth.user.email).thumb}})"></div>
<div class="span12">
    <div id="content" style="overflow:scroll;"> 
        {{print "iterating posts"}}
                {{for post in posts:}}
                    {{print post}}
                    <div class="post">
                        {{if post.liked_by_user:}}
                        {{=len(post.liked_by_user)}}
                        {{else: }}
                        {{='0'}}
						{{pass}}
						<span style="font-size:medium;">{{=post.description}}</span>
                        <br>
                    <a href="{{=post.url}}">{{=post.url}} </a> 
				    </div><!--End of class post-->
					   {{pass}}

	    </div>
</div>
